.catalog-item {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width:30%;
  border-style: solid;
  border-width: 3px;
  /* background: #f0f0f0; */
  align-items: center;
  margin: 20px;
}

.catalog-subitem {
  padding: 6px;
  border-style: solid;
  border-width: 3px;
}

.catalog-item img {
    width: 100%;
    height: auto;
}

.catalog-table table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
