.navbar {
  display: flex;
  align-items: center;
  background-color: #ddd;
  border: 1px solid #b94a4f;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navitem {
  display: flex;
}

.navitem a:hover {
  background-color: #aaa;
}

.navitem a {
  text-decoration: none;
  color: black;
  padding: 14px 16px;
}

.rightalign {
  margin-left: auto;
}

.active {
  background-color: #b94a4f;
}

img {
  height: 30px;
  width: auto;
  padding: 0px 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
