.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #ddd;
  border: 1px solid #b94a4f;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navitem {
  display: flex;
}

.navitem a:hover {
  background-color: #aaa;
}

.navitem a {
  text-decoration: none;
  color: black;
  padding: 14px 16px;
}

.rightalign {
  margin-left: auto;
}

.active {
  background-color: #b94a4f;
}

img {
  height: 30px;
  width: auto;
  padding: 12px 16px;
}

/* @media screen and (max-width: 1500px) { */
/*   .navitem a{ */
/*     box-sizing: border-box; */
/*     display: none; */
/*     width: 100%; */
/*   } */

/*   label.hamburger { */
/*     display: inline-block; */
/*   } */
/* } */

.hamburger {
  user-select: none;
  padding: 12px 16px;
  display: none;
}

input.hamburger {
  display: none;
}
